.myParkings-main{
    min-height: calc(100vh - 100px - 100px);
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.myParkings-section{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

}

.myParkings-title{
    font-size: 30px;
    color: var(--blue-dark);
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}