.forgot-password__main{
    width: 90%;
    margin: 0 auto;
    min-height: calc(100vh - 100px - 100px);
    padding: 40px 0;
}

.forgot-password_h2{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: var(--blue-dark);
}

.forgot-password_p{
    color: var(--blue-dark);
    margin-bottom: 15px;
}